.navigation {
    font-family: "Patua One", cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
    -webkit-text-fill-color: black;
}

.navigation2 {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 75px;
}

.header {
    background-repeat: no-repeat;
    background-image: url(./assets/images/background.jpg);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
}

.night-mode {
    text-align: right;
}

.header-top {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    flex-grow: 1;
    text-align: center;
    padding-left: 415px;
}

.header-text {
    width: 420px;
}

.text-1 {
    font-family: "Patua One", cursive;
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    text-align: right;
    width: 80%;
}

.text-2 {
    font-family: "Patua One", cursive;
    font-size: 20px;
    text-align: right;
    width: 80%;
    height: 25%;
}

.background-body {
    font-family: 'Fredoka One', cursive;
    background-color: #54BFED;
}

.body-align {
    text-align: center;
}

.body-font-1 {
    font-size: 50px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.body-font-2 {
    font-size: 25px;
}

.flex-1 {
    display: flex;
    justify-content: space-evenly;
}

.body-font-3 {
    font-size: 35px;
}

.body-font-4 {
    font-size: 30px;
}

hr.onepixel {
    border-top: 5px solid #000000;
    border-bottom: 1px solid #000000;
    height: 0px;
    margin-bottom: 20px;
}

.message {
    width: 230px;
    height: 80px;
    border-radius: 20px;
    font-size: 30px;
}

.stat div {
    width: 170px;
    border: 4px solid green;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 28px;
    padding: 20px;
}

.footer {
    background-color: #25799D;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.padding {
    padding: 15px;
}

.footer2 {
    text-align: center;
    background-color: #0C4057;
    font-family: 'Fredoka One', cursive;
    padding: 5px;
}

.padding2 {
    padding: 20px;
}